{% extends 'base.html' %}
{% block title %}Login{% endblock %}

{% block headextra %}
<<script type="text/javascript">
	var json = '{{ question_json | escapejs }}';
	var questions = JSON.parse(json);
</script>
<link rel="stylesheet" type="text/css" href="../../static/css/play.css" />
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBmMT0Iwfs1AssyVtM1i0q52_4idSLW6vA"></script>
<script type="text/javascript" src="../../static/js/jquery.js"></script>
<script type="text/javascript" src="../../static/js/jquery-ui.js"></script>
<script type="text/javascript" src="../../static/js/play.js"></script>

{% endblock %}

{% block content %}

<div class="container">

<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">{{ trail.name }}</h1>
    </div>
</div>


<div class="row">
    <!-- Map Column -->
    <div class="col-md-8" style="height: 80%">
        <!-- Embedded Google Map -->
        <div id="map" style="height: 100%; width: 100%"></div>
    </div>
    <!-- Questions Column -->
    <div class="col-md-4">
        <h3>Questions</h3>
      		<div id="questions">
   	  		</div>

    </div>
</div>




<!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Your Website 2014</p>
            </div>
        </div>
    </footer>

</div>

</div>


    
       
        



<script>
async function post_correct(question_id) {
    
    let url = 'http://localhost:8080/correct?id=' + question_id
    
    const response = await fetch(url, {credentials: 'same-origin'});
    json = await response.json()
    questions = json;
    return questions

    
}

    // return fetch(url, {
    //         credentials: 'same-origin'
    //     })
    //     .then((response) => {
    //         if (response.ok) {
    //             return response.json();
    //         } else {
    //             throw new Error('Server response wasn\'t OK');
    //         }
    //     })
    //     .then((json) => {
    //         return json[0];
    //     });
// }


</script>


{% endblock %}