{% extends 'base.html' %}
{% block title %}Login{% endblock %}

{% block headextra %}
<script type="text/javascript">
	var json = '{{ question_json | escapejs }}';
	var questions = JSON.parse(json);
</script>
<link rel="stylesheet" type="text/css" href="../../static/css/play.css" />
<link rel="stylesheet" type="text/css" href="../../static/css/jquery-ui.min.css" />
<script type="text/javascript" src="../../static/js/jquery.js"></script>
<script type="text/javascript" src="../../static/js/jquery-ui.js"></script>
<script type="text/javascript" src="../../static/js/tools.js"></script>
<script type="text/javascript" src="../../static/js/map.js"></script>
<script type="text/javascript" src="../../static/js/play.js"></script>


{% endblock %}

{% block content %}
<button id="InputCoords" type="button">Input User Coords</button>

<div id="dialog-form" title="Input Coords">
  <p><strong>Target Lat </strong></p>
  <p id="TLat"></p>
  <p><strong>Target Lon </strong></p>
  <p id="TLon"></p>
  <form>
    <fieldset>
      <label>User Latitude</label>
      <input type="text" name="lat" id="Ulat" value="0" class="text ui-widget-content ui-corner-all">
      <label>User Longitude</label>
      <input type="text" name="lon" id="Ulon" value="0" class="text ui-widget-content ui-corner-all">
 
      <!-- Allow form submission with keyboard without duplicating the dialog button -->
      <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
    </fieldset>
  </form>
</div>

<div id="AnsAlert"></div>
<div class="container">

<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">{{ trail.name }}</h1>
    </div>
</div>


<div class="row">
    <!-- Map Column -->
    <div class="col-md-8" style="height: 80%">
        <!-- Embedded Google Map -->
        <div id="map" style="height: 100%; width: 100%"></div>
    </div>
    <!-- Questions Column -->
    <div class="col-md-4">
        <h3>Questions</h3>
      		<div id="questions">
   	  		</div>

    </div>
</div>



<!-- <button id="QDiscover" type="button">Discover Question</button> -->
<!-- <button id="ADiscover" type="button">Discover Answer</button> -->
<!-- <button id="QUndiscover" type="button">Undiscover Question</button> -->



<!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Dave Vinci 2017</p>
            </div>
        </div>
    </footer>

</div>






{% endblock %}