{% extends 'base.html' %}
{% block title %}Login{% endblock %}

{% block headextra %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBmMT0Iwfs1AssyVtM1i0q52_4idSLW6vA"></script>
<script type="text/javascript">
	var json = '{{ question_json | escapejs }}';
	var questions = JSON.parse(json);
	var trail_id = {{trail.id}};
</script>
<link rel="stylesheet" type="text/css" href="../../static/css/play.css" />
<link rel="stylesheet" type="text/css" href="../../static/css/jquery-ui.min.css" />
<script type="text/javascript" src="../../static/js/jquery.js"></script>
<script type="text/javascript" src="../../static/js/jquery-ui.js"></script>
<script type="text/javascript" src="../../static/js/tools.js"></script>
<script type="text/javascript" src="../../static/js/map.js"></script>
<script type="text/javascript" src="../../static/js/create_update.js"></script>

{% endblock %}

{% block content %}

<div class="container">

<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">{{ trail.name }}</h1>
    </div>
</div>


<div class="row">
    <!-- Map Column -->
    <div class="col-md-8" style="height: 80%">
        <!-- Embedded Google Map -->
        <div id="map" style="height: 100%; width: 100%"></div>
    </div>
    <!-- Questions Column -->
    <div class="col-md-4">
    	<div class="row">
    		<h3>Question Details</h3>
  			<form method="post" id="question">
  			{% csrf_token %}
 			{{form}}
 			</form>
 			
 			<div class="widget">
 				<fieldset>
 			 		<label for="checkbox-1">Answer is a location which player has to find</label>
 					<input type="checkbox" name="loc_answer_select" value="Location_Answer">
 				</fieldset>
 			</div>
 			
 			<div id="loc_ans_toggler" class="toggler">
				<div id="effect" class="ui-widget-content ui-corner-all">
					<div id="qDetails" class="question">
						<span><input class="locanswer" name="ans_latitude" type="text" /></span>
 						<span><input class="locanswer" name="ans_longitude" type="text" /></span>
					</div>
				</div>
			</div>
  			<input type="submit" value="Submit" id="question"/>
		</div>
        <div class="row">
        <!-- Insert the completed questions here using the flex tools -->
        </div>
    </div>
</div>

    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Dave Vinci 2017</p>
            </div>
        </div>
    </footer>
</div>
{% endblock %}