.btn {
	float: right; 
	font-size: 150%; 
	margin-top: 5px
	}

.ui-dialog .ui-state-error { padding: .3em; }

.validateTips { 
	border: 1px solid transparent; 
	padding: 0.3em;
	}

#InputName{
	height: 100%; 
	width: 100%; 
	background-color: Grey; 
	padding: 2em; 
	margin: 0
	}

#InputName[name="qform"]{
	height: 100%; 
	width: 100%; 
	background-color: Grey; 
	padding-top: 0em; 
	margin: 0
	}

#InputName h3{
	font-size:250%; 
	color: white
	}

/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  min-height: 480px;
  height: 50%;
  width:50%;
}

/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

input[name="a_value"]{
	width: 80%

}
.container{padding-top:20px;}

.toggler { 
	width: 100%; 
	height: 100%; 
	}

#button { 
	padding: .5em 1em;
	text-decoration: none;
	}

#effect { 
	width: 100%; 
	height: 100%; 
	padding: 0.4em; 
	position: relative; 
	}

#effect h3 { margin: 0; padding: 0.4em; text-align: center; }

.qbox { list-style-type: none; margin: 0; padding: 0; width: 100%; }

.qbox input{
	background-color: #e7e7e7; /* black */
}

#qDetails label{
	width: 5%;
	text-align: left;
	padding-right: 5px;	
}

#qDetails input{
	width: 95%;	
}

#qDetails form{
	width: 100%;	
}

#qDetails input[type="submit"]{
	background-color: #555555; /* black */
    border: 2px solid #e7e7e7;
    color: white;
    padding: 8px 24px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 12px;
    border-radius: 8px;	
	width: 50%;
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    margin: 0 auto;
	
}
#qDetails input[type="submit"]:hover{
    background-color: white; 
    color: black;
    border: border: 2px solid #555555;	
}


#qselect{ 
	width: 100%;
	height: 50px; 
	}
	
.trailName{
	height: 100%; 
	width: 100%; 
	font-size: 180%; 
	margin-bottom: 5px
	}
	
.inputLabel{
	color: white; 
	font-size: 200%
	}
	
.form_input{
	height: 100%; 
	width: 100%; 
	font-size: 180%; 
	margin-bottom: 5px
	}

#description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

.pac-card {
  margin: 10px 10px 0 0;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: Roboto;
}

#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
}

.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

.pac-controls label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

#title {
  color: #fff;
  background-color: #4d90fe;
  font-size: 25px;
  font-weight: 500;
  padding: 6px 12px;
}
#target {
  width: 345px;
}

#completeQuestions{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.item{
  flex: 1 0 80px;
  flex-grow: 0;	
  
  /*style*/
  margin: 0.5em;
  padding: 1em;
  text-align: center;
  background-color: lightblue
}


